In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
data = pd.read_excel('data_progress_siswa_tps.xlsx')
print(data.shape)
data.head()

(128, 21)

,student,soal1,soal2,soal3,soal4,soal5,soal6,soal7,soal8,soal9,...,soal11,soal12,soal13,soal14,soal15,soal16,soal17,soal18,soal19,soal20
0,student1,1,0,0,1,1,1,0,1,1,...,1,0,1,0,1,1,0,1,1,0
1,student2,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,student3,0,0,0,1,0,0,0,0,1,...,0,0,0,1,1,1,0,0,1,0
3,student4,1,0,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,1,1,0
4,student5,0,1,1,1,1,1,1,1,1,...,1,1,0,0,1,1,0,0,1,0

In [3]:

m_soal=len(data.columns)
print(m_soal)

21

In [4]:
n_siswa=len(data['soal1'].values)
print(n_siswa)

128

In [5]:
soal = {}
for i in data.columns :
    if i != 'student':
        soal[i] = data[i].sum(axis=0)
        
print(soal)

{'soal1': 46, 'soal2': 18, 'soal3': 18, 'soal4': 32, 'soal5': 29, 'soal6': 39, 'soal7': 24, 'soal8': 15, 'soal9': 44, 'soal10': 48, 'soal11': 23, 'soal12': 22, 'soal13': 29, 'soal14': 35, 'soal15': 29, 'soal16': 21, 'soal17': 22, 'soal18': 23, 'soal19': 22, 'soal20': 11}

In [6]:
poin=[]
for key, values in soal.items():
   poin.append(2.718**(0.5-values/n_siswa)/(1+2.718**(0.5-values/n_siswa)))

In [7]:
print(poin)

[0.5350948014364387, 0.5888801097679571, 0.5888801097679571, 0.5621701208172786, 0.5679296538338285, 0.5486684796759431, 0.5774874594195261, 0.594541696138024, 0.5389791951383204, 0.5312061458628644, 0.5793923154202046, 0.5812948101590648, 0.5679296538338285, 0.5563937812519867, 0.5679296538338285, 0.5831948900857229, 0.5812948101590648, 0.5793923154202046, 0.5812948101590648, 0.6020513031412051]

In [8]:
total=[]
for index, row in data.iterrows():
    nilai=0
    for i in range(0, len(poin)):
        nilai+=poin[i]*row['soal'+str(i+1)]
    total.append(nilai*100)

In [9]:
print(total)

[733.7723731655552, 168.4319265429332, 392.1168597149067, 338.4107986928456, 799.1849450079585, 53.50948014364387, 277.9504492153075, 508.91024405058926, 0.0, 338.02236334512526, 396.7284968126587, 173.24193540786163, 283.346574235274, 508.38650706229566, 53.50948014364387, 562.2640066452119, 283.5370598353418, 332.05876722201265, 114.15624362374832, 513.5659062073257, 0.0, 168.82036591312138, 510.4695876939412, 0.0, 111.0598461283069, 0.0, 166.33026302241356, 0.0, 230.79343075213373, 736.4744382463249, 282.77841964056756, 577.2231123171239, 454.0520202311111, 334.7607084906325, 0.0, 337.6146357600398, 446.35182504263094, 0.0, 273.53799170887305, 0.0, 0.0, 0.0, 1081.946441918429, 337.2613708046195, 681.780304658795, 0.0, 445.2397550099354, 0.0, 338.21460298271006, 166.5194576087546, 283.5439507252513, 448.2973387536184, 0.0, 388.85173260539545, 0.0, 688.3155844797195, 0.0, 618.291010734274, 625.3760945988846, 0.0, 0.0, 0.0, 58.12948101590648, 0.0, 283.5331785781686, 53.50948014364387, 335.7311180191091, 170.74440118372226, 453.3026132440129, 0.0, 396.7120721860608, 559.5670999733954, 0.0, 342.0510050855232, 107.01853410011847, 397.6992168665652, 0.0, 221.17180605526573, 53.897919513832036, 337.64210587857343, 505.10302182255674, 223.07906475440907, 447.74674470598563, 222.89676105797759, 222.3339556515151, 113.1863369761666, 109.72649222537174, 392.4896142110377, 0.0, 53.50948014364387, 347.3559029749781, 388.06084431756335, 285.2122580227909, 165.1561455994285, 166.72323817452082, 683.8643259216328, 0.0, 168.63011643923537, 110.86936052823906, 167.278339284749, 0.0, 0.0, 0.0, 290.40370111164515, 175.8861066742991, 0.0, 223.2858627415168, 283.35475613891026, 218.10239414944067, 221.56024542545393, 0.0, 107.01853410011847, 221.94098049940783, 394.79399313567836, 446.39966965018283, 0.0, 273.5379917088731, 0.0, 167.088089810863, 451.54791714368815, 509.09114005494934, 58.88801097679571, 280.4801792640986, 333.3949311394311, 56.79296538338286, 0.0, 0.0, 173.81045737608508]

In [10]:
#data["Nilai Akhir"]=total

In [11]:
#data.to_excel("data_progress_siswa_tps.xlsx")